@use "../abstracts" as *;
$gap-card-figure: rem(16);

.card {
  border-radius: 0.8em;
  box-shadow: 0 rem(15) rem(30) rgba($grayish-blue, 0.4);
  background-color: $pure-white;
  max-width: rem(400);
  overflow: hidden;
}

.card__article {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}

.card__content {
  padding: rem(40) rem(32) rem(16);
}

.card__link {
  text-decoration: none;
  color: $very-dark-grayish-blue;
  font-size: rem(16);

  @include focus-visible($very-dark-blue);

  @include on-event {
    text-decoration: underline;
  }
}

.card__description {
  margin: 2em 0;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__figure {
  display: flex;
  align-items: center;

  @supports (gap: $gap-card-figure) {
    gap: $gap-card-figure;
  }
}

.card__author {
  color: $very-dark-grayish-blue;
  font-weight: 700;
}

.card__published-date {
  color: $grayish-blue;
}

.card__photo {
  margin-right: $gap-card-figure;
  border-radius: 50%;
  width: rem(40);
  height: rem(40);

  @supports (gap: $gap-card-figure) {
    margin-right: 0;
  }
}

.card__button {
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 50%;
  background-color: $light-grayish-blue;
  color: $very-dark-grayish-blue;
  cursor: pointer;
  padding: 0.7em;

  @include focus-visible($very-dark-blue);

  @include on-event {
    background-color: $desaturated-dark-blue;
    color: $pure-white;
  }
}

.card__button--active {
  background-color: $desaturated-dark-blue;
  color: $pure-white;

  @include focus-visible($pure-white);
  @include on-event {
    background-color: $light-grayish-blue;
    color: $very-dark-grayish-blue;
  }
}

.card__image {
  object-fit: cover;
  object-position: top;
  height: rem(220);
}
