@use "../abstracts" as *;

$gap-share-list: rem(16);

.share {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: rem(68);
  padding: rem(16) rem(32);
  background-color: $very-dark-grayish-blue;
}

.share__text {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: $grayish-blue;
  margin-right: rem(16);
}

.share__list {
  display: flex;
  align-items: center;

  @supports (gap: $gap-share-list) {
    gap: $gap-share-list;
  }
}

.share__link {
  display: inline-block;

  @include focus-visible($pure-white);
}

.share__icon {
  width: rem(20);
  height: rem(20);
}
