// Default colors that I currently use on this project
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;

// Colors
$very-dark-blue: rgb(24, 28, 35);
$very-dark-grayish-blue: rgb(72, 85, 106);
$desaturated-dark-blue: rgb(109, 127, 151);
$grayish-blue: rgb(158, 175, 194);
$light-grayish-blue: rgb(236, 242, 248);
$pure-white: rgb(255, 255, 255);

// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 61.25em // => 980px
);
$breakpoints-down: (
  "tiny": 61.1875 // => 979px
);
